<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>OTP Verification</h2>
        <p>An OTP has been sent to your email and mobile number.</p>
        <form action="/verify_otp" method="POST">
            <input type="text" name="otp_email" placeholder="Enter OTP sent on Your Mail" required>
            <input type="text" name="otp_whatsapp" placeholder="Enter OTP sent on Your WhatsApp Mobile Number" required>
            <button type="submit">Verify OTP</button>
        </form>
    </div>
</body>
</html>